* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 130px 110px 130px;
}

li {
    display: inline;
    color: hsl(230, 29%, 20%);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    

}
.hover{
    cursor: pointer;
}
.hover:hover{
    text-decoration-line: underline;
}

.login {
    color: hsl(231, 7%, 65%);
}

.dot {
    font-size: 40px;
    color: hsl(231, 7%, 65%);
    position: relative;
    bottom: 4px;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
    
}
.para-container{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.new{
    color: hsl(207, 33%, 95%);
    background-color: hsl(230, 29%, 20%);
    font-size: 15px;
    font-weight: 600;
    padding: 2px 9px;
    margin-right: 13px;
    text-transform: uppercase;
    border-radius: 10px;
    

}
.mono{
    color: hsl(231, 7%, 65%);
    font-size: 14px;
    text-transform: uppercase;
    margin-right:13px ;
    letter-spacing: 5px;
}
h1{
    color: hsl(230, 29%, 20%);
    text-transform: uppercase;
    font-size: 58px;
    margin-bottom:28px ;
    width: 520px;
    line-height: 58px;
}
.para{
    color:hsl(230, 11%, 40%) ;
    font-size: 19px;
    margin-bottom: 45px;
}
button{
    background-color: hsl(0, 100%, 68%);
    color: hsl(207, 33%, 95%);
    padding: 15px 28px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif;
    margin-right: 25px;
    cursor: pointer;
}
button:hover{
    background-color:hsla(0, 100%, 68%, 0.801) ;
}
.flex1{
    display: flex;
    align-items: center;
}
.see{
    font-size: 14px;
}
.position{
    width: 850px;
    position: relative;
    
}
.back{
    width: 100vh;
    height: 60vh;
    background-color: hsl(207, 33%, 95%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -66666666;
    border-radius:0 0 0 60px;

}
